.button {
  display: inline-flex;
  justify-content: center;

  padding: 18px 67px 17px;
  border: 0;
  border-radius: 80px;
  background-image: $main-gradient;

  font-size: 21px;
  font-weight: 500;
  line-height: 1.176;
  text-align: center;
  text-transform: lowercase;
  font-variant: all-small-caps;
  color: $inverse-font-color;

  outline: none;
  cursor: pointer;

  @include transition(all);

  &:hover,
  &:focus {
    background-image: $button-hover-gradient;
  }

  &:active {
    background-image: $button-active-gradient;
  }

  &--play-mode {
    // background-color: $main-play-color;

    &:hover,
    &:focus {
      // background-color: $main-play-hover-color;
    }
  }

  &--hidden {
    display: none;
  }
}
