.hero {
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden;

  background: url("../assets/img/bg/bg-hero.png") no-repeat center / contain;

  @media (min-resolution: $min-resolution-dpi), (min-resolution: $min-resolution-dppx) {
    background-image: url("../assets/img/bg/bg-hero@2x.png");
  }

  // Defines height hero
  &::before {
    content: "";
    display: block;
    padding-top: 65%;
  }
}

.hero__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 15%;

  // Girl with flag
  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: url("../assets/img/bg/bg-girl-mask.png") no-repeat center / contain;
  }
}

.hero__title {
  width: auto;
  margin-bottom: 5.7%;

  line-height: 1.3;
  text-align: center;
  color: transparent;

  background: url("../assets/img/bg/bg-hero-head.png") no-repeat center / cover;

  @include fluid-type(320px, 1366px, 72px, 200px);
}

.hero__description {
  position: relative;
  width: 343px;
  margin: 0;

  color: $inverse-font-color;
  text-align: center;
  z-index: 1;

  @include fluid-type(320px, 1366px, 20px, 24px);
}

.hero__scroll-down {
  position: absolute;
  bottom: 0;

  width: 76px;
  height: 29%;
  margin: 0 auto;

  cursor: pointer;
  outline: none;
}

@supports (-webkit-background-clip: text) {
  .hero__title {
    background: url("../assets/img/bg/bg-overlay-hero-head.jpg") no-repeat center;
    -webkit-background-clip: text; /* stylelint-disable-line */

    @media (min-resolution: $min-resolution-dpi), (min-resolution: $min-resolution-dppx) {
      background-image: url("../assets/img/bg/bg-overlay-hero-head@2x.jpg");
    }
  }
}

@media (max-width: $tablet-width) {
  .hero__title {
    margin-bottom: 1.4%;
  }
}

@media (max-width: $mobile-width) {
  .hero {
    background-size: auto 93%;
    background-position-y: 35px;

    // Defines height hero
    &::before {
      padding-top: 189%;
    }
  }

  .hero__inner {
    padding-top: 57%;

    // Girl with flag
    &::before {
      background-size: auto 93%;
      background-position-y: 46px;
    }
  }

  .hero__title {
    letter-spacing: 0.01em;
    margin-bottom: 19%;
  }

  .hero__description {
    width: 288px;
  }

  .hero__scroll-down {
    height: 31%;
  }
}
