.main-header {
  padding: 35px 0;
}

.main-header__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding-left: 8px;
  padding-right: 3px;
}

.main-header__link {
  font-family: inherit;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &--phone {
    border-bottom: 1px solid transparent;

    @include transition(border-color);

    &:hover {
      border-color: currentColor;
    }
  }

  &--call {
    font-size: 14px;
    position: relative;
    text-transform: uppercase;

    // underline
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-image: repeating-linear-gradient(90deg, currentColor, currentColor 2px, transparent 2px, transparent 6px, currentColor 6px, currentColor 8px);

      @include transition(all);
    }

    &:hover {
      &::after {
        background-color: currentColor;
      }
    }
  }
}

.main-header__main-logo {
  margin-left: -18px;
}

@media (max-width: $mobile-width) {
  .main-header {
    padding: 22px 0;

    .container {
      padding-left: 16px;
      padding-right: 7px;
    }
  }

  .main-header__inner {
    position: relative;
    flex-direction: column;
    align-items: flex-end;

    padding-left: 150px;
    padding-right: 0;
  }

  .main-header__main-logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 0;
  }

  .main-header__link {
    font-size: 14px;
    margin-bottom: 12px;

    &--call {
      font-size: 13px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
