.main-footer {
  padding: 10px 0;
  border-top: 1px solid rgba($main-dark-color, 0.2);
}

.main-footer__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 13px 7px 22px 3px;
}

.main-footer__main-logo {
  width: 85px;
  height: 27px;
}

.main-footer__copyright {
  margin: 0;
  margin-left: 30px;
  font-size: 12px;
}

@media (max-width: $mobile-width) {
  .main-footer {
    padding: 19px 0 20px;
  }

  .main-footer__inner {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-footer__main-logo {
    width: 99px;
    height: 31px;
    margin-bottom: 23px;
  }

  .main-footer__copyright {
    margin-left: 0;
    margin-bottom: 29px;
  }

  .main-footer__social {
    .social__link {
      width: 32px;
      height: 32px;
    }
  }
}
