/* Typography */
/* Text */
$base-font-family: "FiraSans", "Arial", sans-serif;
$base-font-size: 15px;
$base-line-height: 1.7;
$base-font-weight: 400;
$base-font-style: normal;
$base-font-color: #484848;
$inverse-font-color: #ffffff;

$promo-font-size: $base-font-size * 1.6;
$big-font-size: $base-font-size * 1.333;
$small-font-size: $base-font-size * 0.867;

/* Heads */
/* Heads font-family */
$head-primary-font-family: "Raleway", "ArialBlack", sans-serif;
$head-secondary-font-family: "Montserrat", "Arial", sans-serif;

/* Heads sizes */
$primary-head-size: $base-font-size * 13.33;
$primary-head-medium-size: $base-font-size * 4.8;

$secondary-head-size: $base-font-size * 2.67;
$secondary-head-medium-size: $base-font-size * 2.13;

$tertiary-head-size: $base-font-size * 1.87;
$tertiary-head-medium-size: $base-font-size * 1.6;

$quaternary-head-size: $base-font-size * 1.4;
$quaternary-head-medium-size: $base-font-size * 1.2;


/* Colors */
/* Main colors */
$main-background-color: #ffffff;

$main-dark-color: #484848;
$main-assent-primary-color: #1fc0fc;
$main-assent-secondary-color: #ffc341;

$main-gradient: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
$secondary-gradient: linear-gradient($main-background-color, $main-background-color);

/* Other colors */
$light-gray-color: #d7d9df;
$main-nav-link-color: #141517;
$footer-text-color: #14151780;
$footer-item-title-color: #141517;
$overlay-color: #14151799;


$button-hover-gradient: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
$button-active-gradient: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);

$tabs-link-color: #2c2e3f4d;

$white: #ffffff;
$black: #000000;
$gray: #e3e3e3;
$error: #ff0000;

/* Viewports */
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$mobile-middle-width: 550px;

$min-viewport: 320px;

$container-width-desktop: 1212px;
$container-horizontal-offset: 30px;
$container-horizontal-offset-mobile: 16px;

/* Retina */
$min-resolution-dpi: 144dpi;
$min-resolution-dppx: 1.5dppx;
